.footer-containar {
      width: 100%;
      height: 100px;
      background-color: black;
}

.footer-containar p {
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      margin-top: 50px;
      color: white
}