.footer-containar {
      width: 100%;
      height: 100px;
      background-color: black;
      margin-top: 100px;

}

.footer-containar p {
      justify-content: center;
      text-align: center;
      align-items: center;
      color: white;
}